#
# Copyright (c) 2019 Amazon.com, Inc. or its affiliates.  All rights reserved.
# PROPRIETARY/CONFIDENTIAL.  USE IS SUBJECT TO LICENSE TERMS.
#

service drmprov_service /system/bin/fireos-drmprov
    class core
    user keystore
    group keystore drmrpc

service drmkey_backup /system/bin/amzn_drmprov_tool --backup
    user root
    group root drmrpc
    oneshot
    disabled

on property:sys.amzn_drm.backup.trigger=1
    start drmkey_backup

on property:sys.amzn_drm.clear_cache.pr3=1
    rm ${ro.amzn_drm.pr3_file}
